# Игнорировать папку с зависимостями (для Node.js)
node_modules/

# Игнорировать временные файлы системы
.DS_Store
Thumbs.db

# Игнорировать лог-файлы
*.log

# Игнорировать кэш и временные файлы Python
__pycache__/
*.pyc
*.pyo

# Игнорировать файлы настроек IDE
.vscode/
.idea/
